<div class = "container-fluid clearfix">
	<div class = "container">
		<div class = "row center branding">
			<div class = "">
				<img src = "assets/branding_temp.png" width="48"  />
			</div>
			<div class = "col-md-2">
				<h4>Bhok Lagyo</h4>
			</div>
			<div class = "col-md-5"></div>
			<div class = "col-md-4 float-right">
				<i class = "fa fa-phone"></i> +977-984-056-5222 <i class = "fa fa-envelope"></i> mail@bhoklagyo.com
			</div>
		</div>
		<div class = "row container-fluid center menu">
			<ul>
				<li class = "selected">
					<a [routerLink] = "['/menu']">MENU</a>
				</li>
				<li>
					<a [routerLink] = "['/login']">LOGIN</a>
				</li>
				<li>
					<a [routerLink] = "['/contact-us']">CONTACT US</a>
				</li>
				<li>
					<a [routerLink] = "['/wishlist']">WISHLIST <span class = "badge wishlist-badge bg-danger">0</span></a>
				</li>
			</ul>
		</div>
	</div>
</div>
