@import url('https://fonts.googleapis.com/css?family=Quicksand');
*{
	font-family: 'quicksand';
	font-weight: bold;
}
h1{
	text-align: center;
	margin-top: 50px;
	color: white;
	font-size: 3em;
	font-family: 'Itim';
	text-shadow: black 0 10px 10px;
}
