@import url('https://fonts.googleapis.com/css?family=Quicksand');
*{
	font-family: 'quicksand';
	font-weight: bold;
	color: white;
}
h1{
	position: fixed;
	width: 100%;
	left: 0px;
}
p{
	margin-top: 100px;
}
.searchBar{
	outline: none;
	margin: auto;
	border: none;
	background: none;
	border-bottom: 1px solid white;
	padding: 5px;
}
.searchBar::placeholder{
	color: #f1f1f1;
	font-style: italic;
	padding: 5px;
}
.searchRow{
	margin-top: 10px;
}
.card{
	background: white;
}
.md-card{
	box-shadow: white 0 0 0px;
	margin-right: 10px;
	margin-top: 20px;
	border-radius: 4px;
	background: white;
	height: 190px;
	width: 250px;
}
.md-card img{
	padding: 0px;
	width: 250px;
	height: 150px;
	margin-left: 0px;
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
}
.md-card *{
	color: black;
	float: left;
	display: block;
}
.md-card img{
	margin-left: -15px;
}
.quick{
	animation-duration: .45s;
}
